# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\6 Golang开发项目\yedit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
